{% extends 'usuarios/base_auth.html' %}
{% load static %}

{% block title %}Restablecer Contraseña{% endblock %}

{% block auth_content %}
    <h1>Restablecer Contraseña</h1>
    <form method="post">
        {% csrf_token %}
        <div class="input-box">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" value="{{ email }}" readonly>
            <i class='bx bx-envelope'></i>
        </div>
        <div class="input-box">
            <label for="new_password">Nueva Contraseña:</label>
            <input type="password" id="new_password" name="new_password" required>
            <i class='bx bxs-lock-alt'></i>
        </div>
        <button type="submit" class="btn">Restablecer Contraseña</button>
    </form>
    <div class="back-to-login">
        <p><a href="{% url 'login' %}">Volver al Login</a></p>
    </div>
{% endblock %}